#conteneurGlobal {
	background:#DDD;
	height:600px;
	width:1000px;
}

#menu {
	background:rgba(6, 6, 6, 0.2);
	position:absolute;
	text-align:center;
	height:300px;
	width:160px;
}

#cadre {
	background:rgba(6, 6, 66, 0.2);
	margin-left:160px;
}
#cPert {
	background:rgba(166, 66, 66, 0.1);
	position:absolute;
}